@font-face {
  font-family:'poppins' ;
  src: url(../fontes/Poppins-Regular.ttf);
}
*{font-family: 'poppins';}
.scroll{
  max-height: 500px;
  overflow-y: scroll;
  width: 800px;
  right: 100px;

}
.stick{
   position: sticky;
  top: 0;
 
  z-index: 2; 
}
select{
  width: 600px;
}

.btn-cian{
  background-color: #63D7FF;
  color: #121212;
}
.nav{
  background-color:#64A0CC;
}

.card-body{
  background-color: #E8F5FE;
}

.table-custom {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  background-color: #ffffff;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.table-custom th,
.table-custom td {
  padding: 16px 20px;
  text-align: left;
  vertical-align: middle;
}

.table-custom thead {
  background-color:#E9F5FF;
  font-weight: bold;
  font-size: 15px;
  color: #444;
  border-bottom: 1px solid #e3e3e3;
}

.table-custom tbody tr {
  border-bottom: 1px solid #f0f0f0;
  transition: background-color 0.2s ease-in-out;
}

.table-custom tbody tr:hover {
  background-color: #f9f9f9;
}

.table-custom .btn {
  font-size: 0.875rem;
  padding: 6px 12px;
  border-radius: 8px;
  transition: all 0.2s;
}
.modal-header{
  background-color: #E9F5FF;
}
.btn-sm{
  width: 170px;
}
