@font-face {
  font-family:'poppins' ;
  src: url(../fontes/Poppins-Regular.ttf);
}
*{font-family: 'poppins';}
.scroll{
  max-height: 500px;
  overflow-y: scroll;
  width: 800px;
  right: 100px;

}
.stick{
   position: sticky;
  top: 0;
  background-color: #343a40; /* a cor do .table-dark */
  z-index: 2; 
}
select{
  width: 600px;
}

.btn-cian{
  background-color: #63D7FF;
  color: #121212;
}
.nav{
  background-color: #63D7FF;
}

