*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.SocialLinks{
display: flex;
}
p{
color: lightslategray;
}

.container .row{
display: flex;
}
.container{
background-color: #F4F4F4;
margin-top: 20px;
height: 100px;
border-radius: 5px;
width: 400px;
margin-left: 15px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.37);
}
.container:hover{
    transform: scale(1.1);
    transition: 1s;
    cursor: pointer;
}
.icone{
align-self: center;
margin: 15px;
background-color: #E8E8E8;
padding: 10px;
border-radius: 30px;

}

.icone:hover{
    background-color: white;
    transition: 1s;
    cursor: pointer;
    transform: scale(1.1);
  
}
button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
button:hover{
    background-color: #0373F3;
    transition: 1s;
    transform: scale(1.1);
}

